.four-types {
  display: flex;
  flex-basis: auto;
}

.four-types > div {
  width: 20vw;
  margin: 10px;
  justify-content: center;
}

.four-types > div > div > div {
  display: flex;
  margin: 5px;
}

.four-types > div > div {
  margin: 10px;
}

h3 {
  display: flex;
  padding: 10px;
  margin: auto;
}

.input {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
}
